.grafana-d3-chord-diagram-svg {
	color: white;
	opacity: .9;
	background: white;
	padding: 5px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	white-space: nowrap;
	pointer-events: none;
}
#circle circle {
	fill: none;
	pointer-events: all;
}
path.group {
	fill-opacity: .8;
}
path.chord {
	fill-opacity: .8;
	stroke: #000;
	stroke-width: .25px;
}
#circle:hover path.fade {
	display: none;
}